*{
    font-family: "Times New Roman", serif;
    text-align: center;
}

header{
    background-color: beige;
}

h1 {
    color: rgb(148, 137, 23);
    font-size: 30px;
    font-weight: 500;   
}

.sauce img {
    border: 10px solid rgb(148, 137, 23);
    height: auto;
    width: 100px;
}

header{
    display: flex;
}

header .logo{
    display: inline-block;
    padding: 10px;
}

header .header_nav{
    display: flex;
    flex: auto;
}

header .header_nav a{
    flex: auto;
}